<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
	 xmlns:http="http://wixtoolset.org/schemas/v4/wxs/http"
	 xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
	<Package
		Name="$(ProductName)"
		Scope="perMachine"
		Compressed="true"
		Manufacturer="roldaojr"
		Version="1.0.0.0"
		UpgradeCode="351bcfaa-e0e4-44f3-8e7d-a2a34f4f664c">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<Media Id="1" Cabinet="install.cab" EmbedCab="yes"/>
		<Feature Id="Main" Title="Main Program Files">
			<ComponentGroupRef Id="app.binaries" />
			<ComponentRef Id="app.shortcuts" />
			<ComponentRef Id="app.certificates"/>
		</Feature>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
				<Directory Id="app.binaries"/>
			</Directory>
		</StandardDirectory>
		<Component Id="app.shortcuts" Guid="295aedc7-084a-4353-bf2d-f72e97eb3c3c">
			<Shortcut Name="!(bind.Property.ProductName)"
					  Target="[INSTALLFOLDER]docscan4web.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Directory="ProgramMenuFolder"/>
			<RemoveFile Id="app.shortcuts.startmenu.remove" Directory="ProgramMenuFolder" Name="$(ProductName)" On="uninstall"/>
			<Shortcut Name="!(bind.Property.ProductName)"
					  Target="[INSTALLFOLDER]docscan4web.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Directory="StartupFolder"/>
			<RemoveFile Id="app.shortcuts.startup.remove" Directory="StartupFolder" Name="$(ProductName)" On="uninstall"/>
			<RegistryValue Root="HKCU" Key="Software\$(ProductName)" Name="Installed" Value="1" KeyPath="yes"/>
		</Component>
		<Component Id="app.certificates" Guid="88f4d8bf-d64e-4b3e-a451-6c546ccaaa75">
			<iis:Certificate
				Name="Open Source CA"
				StoreLocation="localMachine"
				StoreName="root"
				BinaryRef="ca.crt"
				Vital="yes"/>
			<iis:Certificate
				Name="DocScan for Web certficate"
				StoreLocation="localMachine"
				StoreName="my"
				BinaryRef="web.pfx"
				Vital="yes"/>
		</Component>
		<Binary Id="ca.crt" SourceFile="ca.crt" />
		<Binary Id="web.pfx" SourceFile="web.pfx" />
		<SetProperty Id="app.certificate.install"
					 Value="&quot;netsh.exe&quot; http add sslcert ipport=127.0.0.1:8182 certhash=57cbe19db0827835f7895b335f34f95db264f480"
					 Before="app.certificate.install"
					 Sequence="execute" />
		<CustomAction Id="app.certificate.install"
					  Execute="deferred"
					  Impersonate="no"
					  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
					  DllEntry="WixQuietExec"
					  Return="check"/>
		<CustomAction Id="app.runafterinstall"
					  Execute="immediate"
					  Impersonate="yes"
					  Return="asyncNoWait"
					  Directory="INSTALLFOLDER"
					  ExeCommand="[INSTALLFOLDER]docscan4web.exe"/>
		<InstallExecuteSequence>
			<Custom Action="app.certificate.install" Before="CreateShortcuts" Condition="NOT Installed" />
			<Custom Action="app.runafterinstall" After="InstallFinalize" Condition="NOT Installed" />
		</InstallExecuteSequence>
	</Package>
</Wix>
